<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}">
        <title>Acceso denegado</title>
    </head>

    <body>

        <header th:replace="~{general/fragmentos :: header}"></header>

        <main class="container mt-5">

            <div class="alert alert-danger text-center shadow">
                <h2>
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Acceso denegado
                </h2>

                <p>
                    No tiene permisos para acceder a esta sección.
                </p>

                <a th:href="@{/}" class="btn btn-primary">
                    Volver al inicio
                </a>
            </div>

        </main>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>

    </body>
</html>
